/.env
/my_app.log
/__pycache__

# Python related files
*.pyc
*.pyo
*.pyd
*.pyz
*.pyzw
*.egg-info/
dist/
build/
*.egg-info
*.egg

# Docker related files
.dockerignore
docker-compose.yml
.docker/
*.log

# IDE related files
.vscode/
.idea/

# Miscellaneous files
*.env
.DS_Store
*.pyc 
*__pycache__/
migrations/versions/
.venv